* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: var(--color-background);
	color: #fff;
	color: White;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins';
}

footer {
	position: absolute fixed;
       text-align: center;   
       bottom: 0px; 
       width: 100%;
	   padding: 50px
	   border-radius: 0;

	   nav {
		position: absolute
		right: 0
		top: 50%
		transform: translate(-50px, -50%)

	 }

}

:root {
	--color-primary: #037fff;
	--color-secondary: #19202e;
	--color-background: #161515;
	--color-titulo: #e38356;
}

img {
	max-width: 100%;
}

.instagram {
  height: 3%;
  width: 3%;
}

.title {
	text-align: center;
	margin: 25px 0;
	font-family: Ubuntu, 'PT Sans', Verdana, sans-serif;
	letter-spacing: 2px;
	font-size: 25px;
}

.title span {
	color: #e18255;
}

.title img {
	width: 400px;
	margin: 25px 0;
}

.article-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.article-container {
	padding: 0 10px;
}

.article-container h2 {
	color: var(--color-titulo);
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 700;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	border-radius: 15px;
	cursor: pointer;
}

.img-container img:hover {
	transform: scale(1.3);
	transition: transform 0.6s ease-in-out;
}

.img-container:hover {
	border-radius: 15px;
}

.article-body {
	margin-top: 20px;
	margin-left: 15px;
}

.article-container p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 25px;
}

.article-footer span {
	color: #8a8a8a;
	font-size: 14px;
	font-weight: 500;
}

.categories {
	margin: 2rem auto;
	text-align: center;
}

.btn-category {
	padding: 12px 25px;
	border: none;
	margin-right: 20px;
	cursor: pointer;
	border-radius: 15px;
	background-color: #3f2b22;
	color: #e18255;
	font-weight: 700;
	font-size: 16px;
	transition: all 0.4s cubic-bezier(1, -0, 0.6, 1.35);
}

.btn-category:hover {
	background-color: rgba(227, 131, 86, 0.33);
}

.btn-category:last-child {
	margin-right: 0;
}

.logo {
	/* height: 6em; */
  /* height: 50%;
  width: 50%; */
  height: 50%;
  width: 50%;
	padding: 1.5em;
	will-change: filter;
  /* border-radius: 70px; */
  border-radius: 50%;
  /* height: 6em;
  width: 6em;
  padding: 1.5em;
  will-change: filter;
  border-radius: 50px; */
  }
  .logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
  } 

@media (max-width: 520px) {
	.title h1 {
		font-size: 40px;
	}

	.title img {
		width: 250px;
	}

	.article-list {
		grid-template-columns: 1fr;
		gap: 45px;
	}

	.article-container {
		padding: 0 15px;
	}

	.article-body {
		margin-top: 10px;
		margin-left: 10px;
	}

	.article-container h2 {
		font-size: 18px;
	}

	.article-container p {
		font-size: 13px;
	}

	.article-footer span {
		font-size: 12px;
	}

	.categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.btn-category {
		margin: 5px;
	}
}